.parallax-container{
  height: 710px
}

#name{
  margin-top: 15%;
}

#name-text{
  font-weight: bold;
  color: LightSkyBlue;
}

#quote{
  color: white;
  font-size: 20px;
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(135, 206, 250, 1);
}

#enter-div{
  padding: 20px;
}

#enter-button{
  background-color: white;
  color: black;
}

#welcome{
  color: white;
}
