.parallax-container{
  height: 710px
}

#name{
  margin-top: 17%;
  padding: 5px;
}

#name-text{
  font-weight: bold;
  color: white;
}

#quote{
  color: white;
  font-size: 20px;
}

#welcome{
  color: white;
}
