.parallax-container{
  height: 710px
}

#name{
  margin-top: 14%;
}

#name-text{
  font-weight: bold;
  color: LightSkyBlue;
}

#quote{
  color: white;
  font-size: 30px;
}

#welcome-button{
  padding: 30px;
}

#welcome{
  color: white;
}
