:root{
	--fontstyle: "Courier New";
}

body, html {
	height: 100%;
	margin: 0;
	
}
#example1{
  background-image: url(images/welcome-tab.gif);
	height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container{
  height: 500px;
}

.container-text{
	margin-top: 185px;
	text-align: center;
	font-family: var(--fontstyle);
  color: white;
}

#subtitle{
	font-size: 24px;
}

.section-text{
	font-family: var(--fontstyle);
  color: white;
}

#welcome-section{
  background-color: black;
}

#welcome-text{
	margin-top: 0px;
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(135, 206, 250, 1);
}

#enter-button{
	font-family: var(--fontstyle);
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

#about-me-section{
  background-color: black;
}

#about-me-text{
  color: white;
	font-family: var(--fontstyle);
}
